@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

:root {
  --border: #2f3b54;
  --dark-bg: #151922;
  --dark-grey: #4a4747;
  --download: #018401;
  --download-hover: #02bc02;
  --highlight: #ffce06;
  --primary-bg: #171c28;
  --secondary-bg: #151922;
  --light-grey: #f4f4f4;
  --light-text: #ffce06;
  --link: #ffce06;
  --link-underline: var(--link);
  --med-grey: #ccc;
  --primary-color: #007bff;
  --secondary: #171c28;
  --light-blue: #2196f3;
  --terminate: #ff0000;
  --input-field: #151922;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: var(--light-grey);
  background-color: var(--dark-bg);
  height: 100% !important;
}

.container {
  display: inline-block;
  position: fixed;
  top: 40%;
  left: 40%;
}

.container h2 {
  position: relative;
  display: inline-flex;
  left: 0;
  top: 0;
  color: #fff;
}

.container h2 span {
  display: inline-block;
  margin-left: 10px;
  color: var(--highlight);
  position: absolute;
  top: 0;
  left: 100%;
  white-space: nowrap;
}

/* Navbar */
.navbar {
  width: 20rem;
  height: 70px;
  background-color: rgb(249, 249, 249);
  border-radius: 15px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 10px 35px;
  position: relative;
}

.navbar .nav-left-part {
  flex-grow: 2;
  transition: flex-grow 1s;
}

.navbar .nav-right-part {
  flex-grow: 1;
  transition: flex-grow 1s;
}

.navbar .nav-active-part {
  background-color: var(--light-text);
  width: 50px;
  height: 100%;
  border-radius: 50%;
  box-shadow: 1px 3px 15px var(--light-text);
}

nav {
  position: absolute;
  width: calc(100% - 70px);
  height: 100%;
  top: 0;
  left: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

nav li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
  transition: all 1s;
}

.active-item {
  font-size: 20px;
  color: rgb(249, 249, 249);
}

.main_navbar {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-bg);
  top: 50px;
  left: 50px;
  position: fixed
}

a {
  text-decoration: none;
  color: var(--light-text);
}