<div class="main_navbar">
    <div class="navbar">
        <nav>
            <li id="logout"><i class="fas fa-sign-out-alt"></i></li>
            <li id="favourites"><i class="fas fa-heart"></i></li>
            <li id="cart" class="active-item"><i class="fas fa-shopping-bag"></i></li>
            <li id="account"><i class="fas fa-user-alt"></i></li>
        </nav>
        <div class="nav-left-part"></div>
        <div class="nav-active-part"></div>
        <div class="nav-right-part"></div>
    </div>
</div>
